<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="date-view">

    <template>
      <span>{{formatDate(date, format)}}</span>
    </template>

  <script>
      Polymer({
        is: "date-view",
        properties: {
            date: {
              type: Number,
              notify: true
            },
            format: {
              type: String
            }
        },
        formatDate: function (dateInMilis, format) {
        	console.log("format date: " + format);
        	console.log("date: " + dateInMilis);
        	var date = new Date(dateInMilis);
        	var replaceChars = {

        		    d: function(date) { return (date.getDate() < 10 ? '0' : '') + date.getDate(); },
        		    D: function(date) { return date.getDate(); },
        		    w: function(date) { return date.getDay(); },
        		    // Month
        		    m: function(date) { return (date.getMonth() < 9 ? '0' : '') + (date.getMonth() + 1); },
        		    M: function(date) { return date.getMonth() + 1; },
        		    // Year
        		    Y: function(date) { return date.getFullYear(); },
        		    y: function(date) { return ('' + date.getFullYear()).substr(2); },
        		    // Time
        		    a: function(date) { return date.getHours() < 12 ? 'am' : 'pm'; },
        		    A: function(date) { return date.getHours() < 12 ? 'AM' : 'PM'; },
        		    g: function(date) { return date.getHours() % 12 || 12; },
        		    G: function(date) { return date.getHours(); },
        		    h: function(date) { return ((date.getHours() % 12 || 12) < 10 ? '0' : '') + (date.getHours() % 12 || 12); },
        		    H: function(date) { return (date.getHours() < 10 ? '0' : '') + date.getHours(); },
        		    i: function(date) { return (date.getMinutes() < 10 ? '0' : '') + date.getMinutes(); },
        		    s: function(date) { return (date.getSeconds() < 10 ? '0' : '') + date.getSeconds(); },
        		    // Timezone
        		    O: function(date) { return (-date.getTimezoneOffset() < 0 ? '-' : '+') + (Math.abs(date.getTimezoneOffset() / 60) < 10 ? '0' : '') + (Math.abs(date.getTimezoneOffset() / 60)) + '00'; },
        		    P: function(date) { return (-date.getTimezoneOffset() < 0 ? '-' : '+') + (Math.abs(date.getTimezoneOffset() / 60) < 10 ? '0' : '') + (Math.abs(date.getTimezoneOffset() / 60)) + ':00'; },
        		    T: function(date) { var m = date.getMonth(); date.setMonth(0); var result = date.toTimeString().replace(/^.+ \(?([^\)]+)\)?$/, '$1'); date.setMonth(m); return result;},
        		    Z: function(date) { return -date.getTimezoneOffset() * 60; },
        		    // Full Date/Time
        		    c: function(date) { return date.format("Y-m-d\\TH:i:sP"); }, // Fixed now
        		    r: function(date) { return date.toString(); },
        		    U: function(date) { return date.getTime() / 1000; }
        	}
        	var returnStr = '';
            for (var i = 0; i < format.length; i++) {       
            	var curChar = format.charAt(i);         
            	if (i - 1 >= 0 && format.charAt(i - 1) == "\\") {
                    returnStr += curChar;
                }
                else if (replaceChars[curChar]) {
                    returnStr += replaceChars[curChar](date);
                } else if (curChar != "\\"){
                    returnStr += curChar;
                }
            }
            return returnStr;

        	
        	}
	    });
  </script>

</dom-module>
